<nav>
<div class='container'>
<!-- <li style="float:left"><strong><a class="active" href="{{site.baseurl}}/index.html">Nabil Al Souhily</a></strong></li> -->
<h1 class="logo {% if page.url == '/' %}current{% endif %}"><a href="{{site.baseurl}}/index.html">Nabil.ly</a></h1>
<ul>
    <li><a class="{% if page.url == '/contact.html' %}current{% endif %}" href="{{site.baseurl}}/contact.html">Contact</a></li>
    <li><a  class="{% if page.url == '/about.html' %}current{% endif %}" href="{{site.baseurl}}/about.html">About</a></li>
<li><a  class="{% if page.url == '/news.html' %}current{% endif %}" href="{{site.baseurl}}/news.html">News</a></li>
  </ul>
</li>
<li><a  class="{% if page.url == '/news.html' %}current{% endif %}" href="{{site.baseurl}}/image_finder.html">Image Finder</a></li>
  </ul>
</nav>


